<h1>{{number.numberName}}</h1>
<div tabindex="1" class="rg-image-wrapper" ng-keydown="key($event)">
    <div class="rg-image-nav">
        <a class="rg-image-nav-prev" ng-click="preview()">>Previous Image</a>
        <a class="rg-image-nav-next" ng-click="next()">>Next Image</a>
    </div>

    <div class="rg-image">
        <img ng-click="next()" ng-src="{{number.pages[Index]}}">
    </div>
    <div class="rg-caption-wrapper">
        <div class="rg-caption" style="display:none;">
            <p></p>
        </div>
    </div>
    <input ng-keydown="key($event)"/>
</div>
