<div class="rg-image-wrapper">

    <div class="rg-image-nav">
        <a href="#" class="rg-image-nav-prev">Previous Image</a>
        <a href="#" class="rg-image-nav-next">Next Image</a>
    </div>

    <div class="rg-image">

        <img ng-src="http://animezis.ru/1/doctorstrange2015/009/1.png?st=-2-848L25-iuYUAgFDU9-g&e=1469444769">
    </div>
     <div class="rg-caption-wrapper">
        <div class="rg-caption" style="display:none;">
            <p></p>
        </div>
    </div>
</div>

<p>
    <input type="text" name="input" ng-model="comixName">
    <input type="text" name="input" ng-model="numberName">
    <button ng-click="addComix(comixName, numberName)">Get new number</button>
</p>