<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            <p>
                Search:
                <input ng-model="query"/>
            </p>
            <p>
                <input type="text" name="input" ng-model="comixName">
                <button ng-click="addComix(comixName)">Get new Comix</button>
            </p>

        </div>


        <div class="col-md-10">

            <ul class="comixes">
                <li ng-repeat="comix in comixes | filter:query" class="thumbnail">
                    <a href="#!/comixes/{{comix._id}}" class="thumb">
                        <img class="center" ng-src="{{comix.coverUrl}}" alt="{{comix.title}}"/>
                    </a>
                    <a href="#!/comixes/{{comix._id}}">{{comix.title}}</a>
                </li>
            </ul>


        </div>
    </div>
</div>