<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <!--Sidebar content-->

            <p>
                Search:
                <input ng-model="$ctrl.query"/>
            </p>

        </div>


        <div class="col-md-10">

            <ul class="comixes">
                <li ng-repeat="comix in $ctrl.comixes | filter:$ctrl.query" class="thumbnail">
                    <a href="#!/comixes/{{comix.id}}" class="thumb">
                        <img ng-src="{{comix.imageUrl}}" alt="{{comix.name}}" />
                    </a>
                    <a href="#!/comixes/{{comix.id}}">{{comix.name}}</a>
                    <p>{{comix.snippet}}</p>
                </li>
            </ul>


        </div>
    </div>
</div>